html
    head
        title My competitions
        style 
            include ../styles/competitions.css
        
    body
        if user
            nav 
                a(href="/") << Home
                div.user-info
                    p #{user.name}
                    a(href="/logout") Logout

        h1 My competitions
        ul
            each competition in competitions
                li
                    a(href="/competitions/"+competition.id) #{competition.name}
                    