html
    head
        title My competitions
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style 
            include ../styles/competitions.css
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')

        
    body
        nav 
            if user
                a(href="/") << Home
                div.user-info
                    p #{user.name}
                    a(href="/logout") Logout
            else 
                a(href="/login") Login

        h1 My competitions
        if competitions.length == 0
            h2 You have no competitions yet!
        else
            ul
                each competition in competitions
                    li
                        a.competition(href="/competitions/"+competition.id) #{competition.name}
                        a.delete-button(href="/competitions/"+competition.id+"/delete")
                            i.fas.fa-trash
                    