html
    head
        title My competitions
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style 
            include ../styles/competitions.css
        
    body
        nav 
            if user
                a(href="/") << Home
                div.user-info
                    p #{user.name}
                    a(href="/logout") Logout
            else 
                a(href="/login") Login

        h1 My competitions
        ul
            each competition in competitions
                li
                    a(href="/competitions/"+competition.id) #{competition.name}
                    